Non_Virtualized_Tests/General_Examples/numberconversion2.WSDL

<definitions xmlns="http://schemas.xmlsoap.org/wsdl" 
             xmlns:whttp="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://www.dataaccess.com/webservicesserver/">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.dataaccess.com/webservicesserver/">
<xs:element name="NumberToWords">
<xs:complexType>
<xs:sequence>
<xs:element name="ubiNum" type="xs:unsignedLong"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="NumberToWordsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="NumberToWordsResult" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="NumberToDollars">
<xs:complexType>
<xs:sequence>
<xs:element name="dNum" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="NumberToDollarsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="NumberToDollarsResult" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</types>
<message name="NumberToWordsSoapRequest">
<part name="parameters" element="tns:NumberToWords"/>
</message>
<message name="NumberToWordsSoapResponse">
<part name="parameters" element="tns:NumberToWordsResponse"/>
</message>
<message name="NumberToDollarsSoapRequest">
<part name="parameters" element="tns:NumberToDollars"/>
</message>
<message name="NumberToDollarsSoapResponse">
<part name="parameters" element="tns:NumberToDollarsResponse"/>
</message>
<portType name="NumberConversionSoapType">
<operation name="NumberToWords">
<documentation>
Returns the word corresponding to the positive number passed as parameter. Limited to quadrillions.
</documentation>
<input message="tns:NumberToWordsSoapRequest"/>
<output message="tns:NumberToWordsSoapResponse"/>
</operation>
<operation name="NumberToDollars">
<documentation>
Returns the non-zero dollar amount of the passed number.
</documentation>
<input message="tns:NumberToDollarsSoapRequest"/>
<output message="tns:NumberToDollarsSoapResponse"/>
</operation>
</portType>
<binding name="NumberConversionSoapBinding" type="tns:NumberConversionSoapType">
<binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="NumberToWords">
<operation soapAction="" style="document"/>
<input>
<body use="literal"/>
</input>
<output>
<body use="literal"/>
</output>
</operation>
<operation name="NumberToDollars">
<operation soapAction="" style="document"/>
<input>
<body use="literal"/>
</input>
<output>
<body use="literal"/>
</output>
</operation>
</binding>
<binding name="NumberConversionSoapBinding12" type="tns:NumberConversionSoapType">
<binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="NumberToWords">
<operation soapAction="" style="document"/>
<input>
<body use="literal"/>
</input>
<output>
<body use="literal"/>
</output>
</operation>
<operation name="NumberToDollars">
<operation soapAction="" style="document"/>
<input>
<body use="literal"/>
</input>
<output>
<body use="literal"/>
</output>
</operation>
</binding>
<service name="NumberConversion">
<documentation>
The Number Conversion Web Service, implemented with Visual DataFlex, provides functions that convert numbers into words or dollar amounts.
</documentation>
<port name="NumberConversionSoap" binding="tns:NumberConversionSoapBinding">
<address location="https://www.dataaccess.com/webservicesserver/numberconversion.wso"/>
</port>
<port name="NumberConversionSoap12" binding="tns:NumberConversionSoapBinding12">
<address location="https://www.dataaccess.com/webservicesserver/numberconversion.wso"/>
</port>
</service>
</definitions>